                /*<-----------------------------------3.1 project_list_page_content--------------------------------------------->*/
                
                @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
                @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
                /* banner */
                
                .banner {
                    position: relative;
                    display: block;
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                }
                
                .img-banner {
                    background-image: url(../../images/banner_project_list.jpg);
                    width: 1519px;
                    position: relative;
                    left: 0px;
                    top: 0px;
                    z-index: 999;
                    opacity: 1;
                    height: 800px;
                    line-height: 38px;
                    background-color: #0f172b;
                    background-position: center;
                    background-size: cover;
                    min-height: 1px;
                    float: left;
                    text-align: center!important;
                    align-items: center!important;
                }
                
                .img-banner::after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background-color: #0f172b;
                    z-index: -2;
                    opacity: 0.59;
                }
                
                .slide-text h1 {
                    animation-delay: 0.6s;
                    color: #fff;
                    font-size: 120px;
                    margin-bottom: 30px;
                    line-height: 120px;
                    text-transform: capitalize;
                    font-family: "Montserrat", sans-serif;
                }
                
                .big-text {
                    position: absolute;
                    left: 50%;
                    top: 45%;
                    font-size: 300px;
                    transform: translateX(-50%);
                    line-height: 60px;
                    color: transparent;
                    -webkit-text-stroke: 2px #fff;
                    margin-bottom: 50px;
                    font-family: "Montserrat", sans-serif;
                    text-transform: capitalize;
                    opacity: 0.11;
                    z-index: -1;
                }
                
                .banner .img-banner ul {
                    justify-content: center;
                }
                
                .banner .img-banner li {
                    color: #fff;
                    text-transform: capitalize;
                    margin-right: 20px;
                    font-size: 35px;
                    line-height: 38px;
                    font-weight: 500;
                }
                
                .banner .img-banner li a {
                    color: #fea116;
                }
                
                .banner .img-banner li i {
                    font-size: 25px;
                }
                /* main */
                
                .section-bg {
                    background-color: #f1f8ff;
                }
                /* filter-view */
                
                .filter-view {
                    background-color: #fff;
                    margin-bottom: 45px;
                    padding: 20px;
                }
                
                .filter-view ul li {
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 18px;
                    font-weight: 700;
                    cursor: pointer;
                    padding: 5px 0;
                    position: relative;
                    transition: all 400ms ease-out 0s;
                }
                
                .filter-view ul li::after {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    background-color: #fea116;
                    content: '';
                    opacity: 0;
                    transition: all 400ms ease-out 0s;
                }
                
                .filter-view ul .active-f-view::after {
                    width: 100%;
                    opacity: 1;
                }
                
                .filter-view ul .active-f-view,
                .filter-view ul li:hover {
                    color: #fea116;
                }
                
                .filter-view ul li:hover::after {
                    width: 100%;
                    opacity: 1;
                }
                /* room */
                
                .no-gutters {
                    margin: 0;
                    align-items: center!important;
                }
                
                .no-gutters>.col-6 {
                    padding: 0;
                }
                
                .room-desc {
                    padding: 25px 35px;
                    position: relative;
                }
                
                .single-room .room-desc .room-cat,
                .single-room .room-desc .room-price {
                    padding: 8px 15px;
                    background-color: #fea116;
                    font-size: 15px;
                    display: inline-block;
                    border-radius: 5px;
                    color: #fff;
                    font-weight: 700;
                    margin-top: 30px;
                }
                
                .room-desc .room-cat {
                    font-size: 14px!important;
                    margin-top: 0!important;
                    left: auto;
                    top: auto;
                    position: unset;
                    margin-bottom: 20px;
                }
                
                .single-room .room-desc h4 a {
                    font-size: 24px;
                    color: #0f172b;
                }
                
                .single-room .room-thumb {
                    overflow: hidden;
                }
                
                .single-room {
                    background-color: #fff;
                    color: #666565;
                    margin-bottom: 30px;
                }
                
                .list-inline {
                    padding-left: 0;
                    list-style: none;
                }
                
                .list-inline li {
                    display: inline-block;
                }
                
                .room-desc .room-info li {
                    margin-right: 30px;
                }
                
                .room-desc .room-info li:last-child {
                    margin-right: 0px;
                }
                
                .room-desc p,
                .room-desc h4 a,
                .room-desc li,
                h4 {
                    text-transform: capitalize;
                }
                
                .single-room.list-style .room-desc .room-info,
                .single-room.list-style .room-desc .room-price {
                    margin-top: 20px;
                }
                
                .room-desc .room-info i {
                    color: #fea116;
                    margin-right: 10px;
                    font-size: 15px;
                }
                
                .single-room:hover .room-thumb img {
                    transform: scale(1.1);
                }
                
                .room-desc h4 a:hover {
                    color: #fea116;
                }
                /* sidebar */
                
                .sidebar-wrap .widget {
                    padding: 40px 30px;
                    background-color: #fff;
                    margin-bottom: 40px;
                }
                
                .sidebar-wrap .widget .widget-title {
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    position: relative;
                    font-size: 24px;
                }
                
                .sidebar-wrap .widget .widget-title::after,
                .sidebar-wrap .widget .widget-title::before {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 10px;
                    height: 2px;
                    background-color: #fea116;
                    content: '';
                }
                
                .sidebar-wrap .widget .widget-title::after {
                    left: 17px;
                    width: 25px;
                }
                /* form */
                
                .sidebar-wrap .widget form .input-wrap {
                    margin-bottom: 30px;
                    position: relative;
                }
                
                .sidebar-wrap .widget .input-wrap input,
                .sidebar-wrap .widget .input-wrap .nice-select {
                    font-size: 16px;
                    color: #666565;
                    height: 60px;
                    line-height: 60px;
                }
                
                input,
                select,
                textarea,
                .nice-select {
                    background-color: #fff;
                    border: 2px solid #dfe9f4;
                    height: 80px;
                    font-weight: 600;
                    color: #0f172b;
                    font-size: 18px;
                    padding: 0 45px 0 30px;
                    border-radius: 5px;
                    width: 100%;
                    line-height: 80px;
                }
                
                button,
                input {
                    overflow: visible;
                }
                
                button,
                input,
                optgroup,
                select,
                textarea {
                    margin: 0;
                    font-family: inherit;
                    font-size: inherit;
                    line-height: inherit;
                }
                
                .input-wrap i {
                    position: absolute;
                    color: #fea116;
                    background: transparent;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                
                .widget .slider-range {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                .sidebar-wrap .widget .slider-range .ui-widget {
                    height: 8px;
                    border-color: #fea116;
                }
                
                .widget .price-ammount {
                    margin-top: 30px;
                }
                
                .checkboxes p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
                }
                
                .widget .input-wrap input,
                .sidebar-wrap .widget .input-wrap .nice-select {
                    font-size: 16px;
                    color: #666565;
                    height: 60px;
                    line-height: 60px;
                }
                
                .widget .checkboxes input {
                    height: 16px;
                    width: 16px;
                    position: relative;
                    z-index: 2;
                }
                
                .checkboxes label {
                    margin-bottom: 0;
                    font-size: 16px;
                    font-weight: 600;
                    position: relative;
                    display: inline-block;
                    padding-left: 15px;
                }
                /* buttom */
                
                .sidebar-wrap .widget .input-wrap:last-child {
                    margin-bottom: 0;
                }
                
                .widget .btn {
                    padding: 20px;
                    width: 100%;
                    background-color: #fea116;
                    color: #fff;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 17px;
                    text-transform: uppercase;
                    border-radius: 0;
                    border: none;
                    transition: all 0.4s ease-out 0s;
                }
                
                .btn i {
                    color: #fff;
                    right: 47px;
                    top: 51%;
                }
                
                .widget .btn:hover {
                    background-color: #0f172b;
                }
                
                .pagination-wrap {
                    text-align: left;
                    margin-top: 30px;
                }
                
                .list-inline li {
                    display: inline-block;
                }
                
                .pagination-wrap li a {
                    height: 50px;
                    width: 50px;
                    line-height: 50px;
                    background-color: #0f172b;
                    color: #fff;
                    font-size: 18px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    display: block;
                    text-align: center;
                    border-radius: 50%;
                    transition: all 400ms ease-out 0s;
                }
                
                .active a {
                    background-color: #fea116 !important;
                }
                /* brands */
                
                .primary-bg {
                    background-color: #fea116;
                }